<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error</title>
  </head>
  <body>
    <h1>에러페이지</h1>
    <div><%= err_msg %>[<%= err_code %>]</div>
  </body>
</html>
