<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('include/head') %>
  <link rel="stylesheet" href="/css/main.css">
  <title>에러페이지</title>
</head>

<body>
  <%- include('include/header') %>
  <h3>404 ERROR</h3>
  <p>요청하신 페이지를 찾을 수 없습니다.</p>
</body>

</html>