<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>
</head>
<body>
  <h1>Welcome to Your My Page</h1>

  <div>
    <p>User ID: <%= user.id %></p>
    <p>Name: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
    <p>Telephone: <%= user.telephone %></p>
  </div>
  <div>
    <a href="/user/orderList">예매내역</a>
  </div>
</body>
</html>
