<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('include/head') %>
  <title>Login</title>
</head>

<body>
  <%- include('include/header') %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>

  <form action="/api/auth/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" id="id" name="id" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="password">Repeat password:</label>
    <input type="password" id="checkedPassword" name="checkedPassword" required>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="name">Name:</label>
    <input type="text" id="name" name="nickname" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="telephone">Telephone:</label>
    <input type="tel" id="telephone" name="telephone" required>

    <button type="submit">Sign Up</button>
  </form>
</body>

</html>