/* CSS 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 코드 시작 */

#header {
  height: 4rem;
}

#header_wrap {
  height: 100%;
  width: 1270px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header_content {
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header_content form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header_menu {
  margin-left: 50px;
  width: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: large;
}

.header_menu a {
  color: #333;
  text-decoration: none;
}

.header_menu a:hover {
  color: #fa5858;
}

.search_button {
  color: #333;
  border: 0.5px solid #b8bcc3;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  width: 90px;
  height: 40px;
  margin: 10px;
  display: flex;
  justify-content: center; /*수평 가운데 정렬*/
  align-items: center; /*수직 가운데 정렬*/
  background-color: white;
}

.search_input {
  width: 250px;
  padding: 10px;
  margin-left: 70px;
  border-radius: 0.4rem;
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: #f2f3f6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
