#body {
}

#banner {
  display: block;
  height: 315px;
  padding: 0 16px 0 16px;
  background: #f8e6e0;
}

#banner_content {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  max-width: 768px;
  margin: 0 auto;
}

.bigText {
  line-height: 1.5;
  font-size: 34px;
  letter-spacing: -0.32px;
  font-weight: 700;
}

.smallText {
  line-height: 1.32;
  font-size: 18px;
  margin-top: 16px;
  display: block;
}

.cover_img {
  position: absolute;
  bottom: 0;
  display: flex;
  right: 0;
  height: 315px;
  width: 416px;
}

.img-frame {
  box-sizing: border-box;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bannerimg {
  width: 110%;
  height: 100%;
}

.article_list {
  padding-top: 64px;
  display: block;
}

.article_list_title {
  font-size: 32px;
  line-height: 43.2px;
  text-align: center;
  font-weight: 700;
}

.card_container {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
}

.card_wrap {
  width: 300px;
  margin-bottom: 56px;
}

.card {
  width: 250px;
  margin: 0 auto;
  display: block;
}

.card_photo {
  width: 100%;
  /* padding-top: 100%; */
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-sizing: border-box;
}

.card_photo img {
  text-align: center;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card_desc {
  margin-top: 12px;
}

.card_title {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: -0.02px;
  color: #212121;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}

.card_row2,
.card_row3,
.card_row4 {
  margin-bottom: 5px;
}

.card_current_price {
  font-size: 16px;
  font-weight: 700;
  color: #212121;
  line-height: 1.5;
}

.card_count,
.card_bar,
.card_created_at {
  display: inline-block;
  margin-right: 3px;
  color: #868e96;
  font-size: 14px;
  line-height: 1.5;
}

.card_termination_date {
  display: inline-block;
  margin-right: 3px;
  color: #868e96;
  font-size: 14px;
  line-height: 1.5;
}

.current_page {
  background-color: rgb(255, 179, 154);
}

.pagination_container a {
  color: #3b3b3b;
  text-decoration: none;
}

.prev_page.disabled,
.next_page.disabled {
  pointer-events: none; /* This makes the link unclickable */
  color: rgb(
    132,
    132,
    132
  ); /* You can use any color to indicate it's disabled */
  text-decoration: none; /* Optionally remove underline */
}
