#body {
}

#banner {
  display: block;
  height: 315px;
  padding: 0 16px 0 16px;
  background: #f8e6e0;
}

#banner_content {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  max-width: 768px;
  margin: 0 auto;
}

.bigText {
  line-height: 1.5;
  font-size: 34px;
  letter-spacing: -0.32px;
  font-weight: 700;
}

.smallText {
  line-height: 1.32;
  font-size: 18px;
  margin-top: 16px;
  display: block;
}

.cover_img {
  position: absolute;
  bottom: 0;
  display: flex;
  right: 0;
  height: 315px;
  width: 416px;
}

.img-frame {
  box-sizing: border-box;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bannerimg {
  width: 110%;
  height: 100%;
}

.article_list {
  padding-top: 64px;
  display: block;
}

.article_list_title {
  font-size: 32px;
  line-height: 43.2px;
  text-align: center;
  font-weight: 700;
}

.card_wrap {
  width: 757px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
}

.card {
  width: 223px;
  margin-bottom: 56px;
  display: block;
}

.card_photo {
  width: 100%;
  /* padding-top: 100%; */
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #f8f9fa;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.card_photo img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card_desc {
  margin-top: 12px;
}

.card_title {
  font-size: 16px;
  letter-spacing: -0.02px;
  color: #212529;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  line-height: 1.5;
  font-weight: normal;
}

.card_price {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;
}

.card_count {
  color: #868e96;
  font-size: 13px;
}
