/* 스타일링을 위한 CSS */

.dropdown {
  position: relative;
  display: inline-block;
}

.more_btn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  z-index: 1;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content .dropdown_item {
  color: #212529;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* .dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
}

.modal_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.bid_list_modal_header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.modal_header .title {
  font-weight: 600;
}

.close-btn {
  cursor: pointer;
}

.bid_list_container .bid_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3c3c3c;
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.5;
}

.bid_list_container .bid_wrapper > * {
  width: 25%;
}

.bid_list_container .bid_wrapper.header .bid_cancel {
  visibility: hidden;
}

.bid_list_container .bid_wrapper .bid_cancel {
  display: inline-block;
  width: 60px;
  height: 25px;
  background-color: #fff;
  color: #353535;
  border: 1px solid #353535;
  border-radius: 7px;
}

.bid_list_container .bid_wrapper.header {
  font-weight: 600;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 10px;
}

.bid_list_container .bid_wrapper .status_wrapper .status {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100px;
  height: 25px;
  margin: 0 auto;
  font-weight: 600;
  border-radius: 10px;
  font-size: 14px;
}

.bid_list_container .bid_wrapper.top_bid {
  color: #6b6bff;
  font-weight: 600;
}

.bid_list_container .bid_wrapper.top_bid .status_wrapper .status {
  background-color: #6b6bff;
}

.bid_list_container .bid_wrapper.canceled {
  color: #ff7373;
  font-weight: 600;
}

.bid_list_container .bid_wrapper.canceled .status_wrapper .status {
  background-color: #ff7373;
}

.bid_suggest_modal_header {
  margin: 30px 0;
}

.bid_suggest_modal_header .title {
  font-size: 20px;
  font-weight: 600;
}

.bid_suggest_container {
  width: 350px;
  margin: 0 auto;
}

.current_bid_info {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.current_bid_info .wrapper {
  margin-right: 10px;
  color: #5a5a5a;
}

.current_bid_info .wrapper .name {
  display: inline-block;
  margin-right: 5px;
  font-size: 13px;
}

.current_bid_info .wrapper .price {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.suggest_input_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #9c9c9c;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.suggest_input_wrapper .suggest_input {
  background: none;
  border: none;
  text-align: end;
  font-size: 16px;
  padding: 0;
  color: #353535;
}

.suggest_input_wrapper .suggest_input:focus {
  outline: none;
}

.suggest_input_wrapper .won {
  color: #353535;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.btn_wrapper.submit {
  background-color: #ff7373;
}

.btn_wrapper.cancel {
  background-color: rgb(149, 149, 149);
}

.btn_wrapper button {
  background: none;
  border: none;
  color: #fff;
  font-weight: 600;
}

.product_container {
  width: 750px;
  margin: 0 auto;
}

.product_image_container {
  text-align: center;
}

.product_image_container img {
  width: 750px;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
}
.product_header_container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #e9ecef;
}

.product_header_container .left_wrapper {
  display: flex;
  align-items: center;
}

.product_header_container .left_wrapper .avatar_wrapper {
  margin-right: 10px;
}

.product_header_container .left_wrapper .avatar_wrapper .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.product_header_container .left_wrapper .nickname {
  font-size: 15px;
  color: #353535;
  font-weight: 600;
}

.right_wrapper {
  display: flex;
  font-size: 14px;
  align-items: center;
  color: #353535;
}

.right_wrapper .status {
  padding: 0 5px;
}

.right_wrapper .bid {
  margin: 0 10px;
  width: 80px;
  height: 25px;
  background-color: #fff;
  color: #353535;
  border: 1px solid #353535;
  display: inline-block;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 14px;
}

.right_wrapper .bid:hover {
  background-color: #d6d6d6;
}

.product_info_container {
  margin-top: 32px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e9ecef;
}

.product_info_container .title_wrapper .title {
  font-size: 18px;
}

.product_info_container .product_price_wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.product_info_container .product_price_wrapper .product_price .price {
  font-size: 18px;
  font-weight: 600;
}

.product_info_container .product_price_wrapper .name {
  color: #868e96;
  font-size: 13px;
}

.product_info_container
  .product_price_wrapper
  .product_status
  .status_check_btn {
  margin: 0 10px;
  width: 80px;
  height: 25px;
  background-color: #fff;
  color: #353535;
  border: 1px solid #353535;
  display: inline-block;
  border-radius: 7px;
}

.product_info_container
  .product_price_wrapper
  .product_status
  .status_check_btn:hover {
  background-color: #d6d6d6;
}

.product_status_wrapper {
  color: #868e96;
  font-size: 13px;
  margin-top: 20px;
}

.product_status_wrapper .bar {
  display: inline-block;
  margin: 0 3px;
}

.product_description_wrapper {
  margin-top: 15px;
}

.product_description_wrapper .product_description {
  line-height: 1.8;
  color: #212529;
}

.product_interest_wrapper {
  color: #868e96;
  font-size: 13px;
  margin-top: 15px;
}

/*  */

.comment_container {
  color: #212529;
}
.comment_container .comment_header {
  margin-bottom: 20px;
}

.comment_container .comment_header .title {
  font-size: 16px;
  font-weight: 400;
}

.comment_input_wrapper {
  display: flex;
  border: 1px solid #868e96;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comment_input_wrapper #comment_input {
  background: none;
  border: none;
  flex-grow: 1;
}

.comment_input_wrapper #comment_input:focus {
  outline: none;
}

.comment_input_wrapper .comment_input_submit {
  background: none;
  background-color: rgb(135, 135, 255);
  padding: 5px 12px;
  border-radius: 7px;
  color: #fff;
  border: none;
}

.comment_list .comment_item {
  border-bottom: 1px solid #e9ecef;
  padding: 10px 0;
}

.comment_list .comment_item .comment_item_header {
  display: flex;
  margin-bottom: 15px;
}

.comment_list .comment_item .comment_item_header .comment_nickname_wrapper {
  margin-right: 10px;
}

.comment_list
  .comment_item
  .comment_item_header
  .comment_nickname_wrapper
  .comment_nickname {
  font-size: 14px;
  font-weight: 600;
}

.comment_list
  .comment_item
  .comment_item_header
  .comment_timestamp_wrapper
  .comment_timestamp {
  font-size: 13px;
  color: #868e96;
}

.comment_list .comment_item .comment_item_description_wrapper {
  margin-bottom: 10px;
}

.comment_list .comment_item .description_input_edit_wrapper {
  display: flex;
  border: 1px solid #868e96;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comment_list
  .comment_item
  .description_input_edit_wrapper
  .description_input_edit {
  background: none;
  border: none;
  flex-grow: 1;
}

.comment_list
  .comment_item
  .comment_input_wrapper
  .description_input_edit:focus {
  outline: none;
}

.comment_list .comment_item .description_input_edit_submit_btn {
  background: none;
  background-color: #8787ff;
  padding: 5px 12px;
  border-radius: 7px;
  color: #fff;
  border: none;
  margin-right: 5px;
}
.comment_list .comment_item .description_input_edit_cancel_btn {
  background: none;
  background-color: #959595;
  padding: 5px 12px;
  border-radius: 7px;
  color: #fff;
  border: none;
}

.comment_input_wrapper #comment_input {
  background: none;
  border: none;
  flex-grow: 1;
}

.comment_input_wrapper #comment_input:focus {
  outline: none;
}

.comment_input_wrapper .comment_input_submit {
  background: none;
  background-color: rgb(135, 135, 255);
  padding: 5px 12px;
  border-radius: 7px;
  color: #fff;
  border: none;
}

.comment_list
  .comment_item
  .comment_item_description_wrapper
  .comment_item_description {
  font-size: 14px;
}

.comment_item_reply_view_wrapper .comment_item_reply_view {
  background: none;
  border: none;
  font-size: 13px;
  color: #868e96;
  padding: 0;
}

.comment_item_footer {
  display: flex;
}

.comment_item_footer .comment_item_reply_view_wrapper,
.comment_item_footer .comment_modify_btn_wrapper {
  margin-right: 5px;
}

.comment_item_footer .comment_item_reply_view_wrapper .comment_item_reply_view,
.comment_item_footer .comment_modify_btn_wrapper .modify_btn,
.comment_item_footer .comment_delete_btn_wrapper .delete_btn {
  background: none;
  border: none;
  font-size: 13px;
  color: #868e96;
  padding: 0;
  cursor: pointer;
}

.reflies_container {
  margin: 10px 0 0 25px;
}

.reply_input_wrapper {
  display: flex;
  border: 1px solid #868e96;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.reply_input_wrapper .reply_input {
  background: none;
  border: none;
  flex-grow: 1;
}

.reply_input_wrapper .reply_input:focus {
  outline: none;
}

.reply_input_wrapper .reply_input_submit_btn {
  background: none;
  background-color: rgb(135, 135, 255);
  padding: 5px 12px;
  border-radius: 7px;
  color: #fff;
  border: none;
}

.reply_list .reply_item {
  border-bottom: 1px solid #e9ecef;
  padding: 10px 0;
}

.reply_list .reply_item:last-child {
  border-bottom: none;
}

.reply_list .reply_item .reply_item_header {
  display: flex;
  margin-bottom: 15px;
}

.reply_list .reply_item .reply_item_header .reply_nickname_wrapper {
  margin-right: 10px;
}

.reply_list
  .reply_item
  .reply_item_header
  .reply_nickname_wrapper
  .reply_nickname {
  font-size: 14px;
  font-weight: 600;
}

.reply_list
  .reply_item
  .reply_item_header
  .reply_timestamp_wrapper
  .reply_timestamp {
  font-size: 13px;
  color: #868e96;
}

.reply_list .reply_item .reply_item_description_wrapper {
  margin-bottom: 10px;
}

.reply_list
  .reply_item
  .reply_item_description_wrapper
  .reply_item_description {
  font-size: 14px;
}

.reply_item_footer {
  display: flex;
}

.reply_item_footer .reply_modify_btn_wrapper {
  margin-right: 5px;
}

.reply_item_footer .reply_modify_btn_wrapper .modify_btn,
.reply_item_footer .reply_delete_btn_wrapper .delete_btn {
  background: none;
  border: none;
  font-size: 13px;
  color: #868e96;
  padding: 0;
  cursor: pointer;
}
