.search_title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 4px;
  font-weight: 500;
}

.search_index {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  color: #727272;
}
