.user_update_wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_update_info {
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.user_update_info.error input {
  border-color: #e74c3c;
}

.user_update_info.success input {
  border-color: #2ecc71;
}

.user_update_info label {
  color: #2e2e2e;
  display: block;
  margin-bottom: 5px;
}

.input_text {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 347px;
  padding: 10px;
  font-size: 14px;
}

.check_msg {
  color: #e74c3c;
  position: absolute;
  font-size: 12px;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  visibility: hidden;
}

.user_update_info.error .check_msg {
  visibility: visible;
}

.submit_btn {
  cursor: pointer;
  background-color: #f78181;
  border: 2px solid #f78181;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  width: 370px;
}

.submit_btn:hover {
  background-color: #fa5858;
  border: 2px solid #fa5858;
}

.user_delete_wrap {
  margin: 0 auto;
  margin-top: 30px;
}

.user_delete_button {
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  background: none;
}

.user_delete_button:hover {
  border-color: #fa5858;
  color: #fa5858;
}

/* 모달 CSS */
#user_delete_modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

#delete_complete_modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
#delete_complete_modal.hidden {
  display: none;
}

#modalContent {
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  padding: 15px;
}

#user_delete_modal.hidden {
  display: none;
}

.delete_warning_big{
  font-size:18px;
  margin-bottom:5px;
}

.delete_warning_small{
  font-size:16px;
  margin-bottom:20px;
}

.user_delete_select{
  cursor: pointer;
  background-color: #f78181;
  border: 2px solid #f78181;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-left:5px;
  margin-right:5px;
  width: 100px;
}

.user_delete_select:hover{
  background-color: #fa5858;
  border-color:#fa5858;
}

#user_delete_modal_button{
  display:flex;
  justify-content: center;
}